[2020-11-19 19:09] takov751 opened #3 "Build error arm64"
Hello there. I just wanted to test this interesting project on my rpi4 and it's fails while building.
UPDATE: `node-pre-gyp http 403 status code downloading tarball https://mapbox-node-binary.s3.amazonaws.com/sqlite3/v5.0.0/napi-v3-linux-arm64.tar.gz `

So because sqlite3 not available it's fails obviously and there is no Python executable Either, which is rather odd.
[code]

[2020-11-20 06:35] #3 closed

[2020-11-20 20:40] GimmeAUnicorn opened #5 "Building api step 2/10"
Installing this on my Rpi Zero. Getting the following error.
`pi@raspberrypi:~/CTFNote $ sudo docker-compose up -d
Building api
Step 1/10 : FROM node:14.5.0-alpine3.10
 ---> 26cac906db96

Step 2/10 : RUN mkdir -p /usr/src/app &&     apk add openssh-client g++ make python
 ---> Running in 76de4a468273

ERROR: Service 'api' failed to build : The command '/bin/sh -c mkdir -p /usr/src/app &&     apk a

[2020-11-20 21:14] XeR commented on #5
Hello !

This might be related to #3 and #4.

Can you try building commit `26fec6afded434b3718bf203797f52aa4a09e943` ? (`git checkout 26fec6afded434b3718bf203797f52aa4a09e943`)

Can you try cloning my fork and building it ? https://github.com/XeR/CTFNote

[2020-11-20 21:30] GimmeAUnicorn commented on #5
Hey !

Tried both suggestions, still same error

[2020-11-23 02:13] posix-lee opened #6 "Broken UI - Mobile support"
In the mobile environment, the UI of the top bar looks broken.
This is because its content exceeds the width that can be expressed in one line.

There are five suggestions for resolving this.

1. Give up mobile support
2. Remove the CTFNote string.
3. Remove the CTFNote string and make it selectable from the menu.
4. Replace the CTFNote string with a small logo.
5. Reduce the font size.

![image](

[2020-11-23 16:33] Dr1en commented on #5
Same error. Is there a fix @XeR ?

[2020-11-23 17:20] XeR commented on #5
No. I do not have the required hardware to test.
Maybe @SakiiR knows what's up ?

Can you try to spawn a new container with :
[code]

And report the output of the following commands :
[code]

[2020-11-23 18:30] SakiiR commented on #5
I don't know what is up exactly unfortunaly.

Can't reproduce myself for the same reason =(

Waiting for some technical details.

[2020-12-12 11:40] SakiiR opened #8 "Unicode content can't be slugified"
For exemple, slugifying '15LXnCDXlNeq16fXpNeUCg==' (base64 encoded unicode) will result to '' and cannot be use as an URL.

[2021-02-12 03:11] jhthenerd opened #17 "API consumes a lot of memory when importing from CTFd"
When importing a relatively large CTFd JSON file (~55kb), the API consumes a lot of CPU and RAM (it managed to exhaust 4GB of RAM and hang up the API thread)
The tasks do get imported, but it was only able to get through ~15 tasks before running out of memory.

The JSON I used (obtained from the picoCTF 2019 API):
https://pastebin.com/YCUMh1qM

Logs from the API container:
https://pastebin.com/Vip

[2021-02-17 16:12] B-i-t-K commented on #17
That's a bit weird, the JSON is parsed client side
Are you sure the memory was not taken by another process ?

[2021-02-18 09:30] SakiiR commented on #17
@B-i-t-K The front is sending multiple request for each task right ? Maybe the task creation ( On the API side ) routine is consuming too much in this specific situiation.

[2021-02-18 14:48] SakiiR commented on #17
when* importing many tasks.

This last commit fixed the issue on my local setup.

Please @jhthenerd, can you retry with the fix in place ( https://github.com/TFNS/CTFNote/commit/5cc916c0dcf9b470a487ffeb52b6c238728df226 ) ? thanks

[2021-02-18 15:16] SakiiR commented on #17
Thanks to you for the report, cheers

[2021-02-18 15:23] #17 closed

[2021-02-23 15:16] tiagotriques opened #18 "Upload Image on hedgedoc pad doesn't work"
Trying to upload an image on a **hedgedoc** pad fails.

![2021-02-23_14-05-21](https://user-images.githubusercontent.com/8365694/108879959-8a660d00-75e0-11eb-9185-45741e30233c.png)

Logs from the container:
[code]

Reverting to the **codimd** image is a temporary fix, but any ideas on how to *actually* fix it?

[2021-03-02 14:36] vishiswoz opened #21 "Github Pages"
Is it possible to host the docker container through Github pages?

[2021-03-02 14:38] vishiswoz commented on #21
For example, instead of accessing the frontend through http://127.0.0.1/ I can instead access it through http(s)://<username>.github.io

[2021-03-02 15:03] SakiiR commented on #21
Github pages allows you to host static contents only. It allows you to setup a DNS name redirection as well but that will not help you.

You might want to host ctfnote on a server you own, with a remote access ( SSH ) to setup docker and start the project.

Maybe you want to take a look at https://github.com/yeswehack/pwn-machine if you want to setup your own infrastructure :) CTFNote works well w

[2021-03-02 15:11] SakiiR commented on #18
**Should not be closed**

I will look into it and get back to you guys :)

I think it's an issue with the passthru rule on the reverse proxy

[2021-03-02 15:13] vishiswoz commented on #21
Thanks for the response, that's what i assumed but i wanted to make sure. I'll check out that repository as well, thanks!

[2021-03-02 15:13] #21 closed

[2021-03-02 15:38] SakiiR commented on #18
According to this comment: https://github.com/hedgedoc/hedgedoc/issues/67#issuecomment-492123028

You have to set the right environment variables.

In my case, locally, I setted up the following env variables to make the `filesystem` upload mode to work:

[code]

This env var is affecting the link of the image when rendering markdown. But it affects other features as well :( I tried to tweak a bit

[2021-03-20 11:03] ZetaTwo opened #24 "Issues with importing challenges"
We encountered issues when trying to import challenges. The situation was something like this:

- We had 12 challenges already import
- We tried to import 19 challenges (7 new)
- Parsing worked fine
- Clicking "import" sends a request with the correct data
- The request eventually times out with a 504.

I know this isn't super useful debug info. I'm in the middle of a CTF but afterwards I'll try t

[2021-03-22 16:06] SakiiR commented on #24
Hey @ZetaTwo !

How are u doing ?

We had a similar issue (#17) earlier, do you think it can be related to that somehow ?

This commit should fix the bug https://github.com/TFNS/CTFNote/commit/0abdc24c7618b9d5c2e35a9122ef105ec063e3f3

Are you sure to be using the last version of CTFNote ?

That would be helpfull to have a typical **json or raw import** to reproduce. ( You can also try with the JSO

[2021-03-22 16:14] ZetaTwo commented on #24
Hello! I'm good! How are you? :D

I installed the CTFNote instance on Wednesday last week by cloning the repo (main branch) and launching it so I'm pretty sure it's a recent version. Also I did not see multiple requests for adding the challenges. All challenges were sent in one request in an array so it does not seem to be that issue.

This was the json I tried to import:

[code]

 Note that the c

[2021-03-22 16:15] ZetaTwo commented on #24
What I did instead was to manually just import 1-3 challenges at a time and that worked. Could it be that there's some accidental O(n^3) action going on or something?

[2021-03-22 17:37] XeR opened #25 "Importing tasks does not check for unicity"
Using the import function of CTFNote will not work if the uploaded data contains tasks that have already been imported.
This is typically encountered when importing challenges once and importing an updated list of challenges after new tasks are released.

**Steps to reproduce**
1. Import the following data:
[code]

2. Import the following data:
[code]

3. `bar` is not imported because `foo` alread

[2021-03-23 09:27] SakiiR commented on #25
This is fixed on main :)

[2021-03-23 09:27] #25 closed

[2021-03-27 22:48] ZetaTwo opened #27 "Feature request: category aliases"
When we recently used CTFNote, for some reason we ended up with having the same category spelled in different ways. This was probably some user error but it would be nice if some of the standard categories had aliases that mapped to each other, for example:

- pwn, pwnable, binary exploitation
- crypto, cryptography
- rev, reversing, reverse engineering
- for, forensics

so, if you accidentally in

[2021-03-27 22:53] ZetaTwo opened #28 "Feature request: option to group challenges by category"
The page listing all challenges is very difficult to get a good overview of and find the challenge. It would be nice if the challenges were grouped by category, or at least if there was an option to group them by category to more easily be able to find them.

[2021-03-29 08:15] SakiiR commented on #28
Nice ! That could be added as a frontend filter.

This might be the goto component: https://quasar.dev/vue-components/select#the-options.

[2021-03-29 08:46] SakiiR commented on #28
At this time, you can use the search bar to search for a specific category !

But having the ability to filter by multiple categories could be nice too.

[2021-03-29 08:54] SakiiR commented on #28
This is how it looks like for now:

![category filter](https://user-images.githubusercontent.com/9950578/112812205-1e624300-907d-11eb-84b2-bafedd91c4c7.png)

[2021-03-30 22:23] ZetaTwo commented on #28
Nice! Yeah, that's already much better. I still think it would be nice to be able to group/order them by category but something like this makes that a low priority issue.

[2021-03-30 22:38] ZetaTwo commented on #24
Ok, I tried updating to latest stable commit: `ef4e45354f6ea7d8fb28a5a70b02dc08a045e84b` and restarting with `docker-compose down && docker-compose up --build -d` and tried adding the same tasks as above again.

This is the full request (slightly censored):
[code]

And this is the response:
HTTP/1.1 200 OK
Server: nginx/1.18.0 (Ubuntu)
Date: Tue, 30 Mar 2021 22:25:46 GMT
Content-Type: application/

[2021-03-31 07:57] SakiiR commented on #24
I could not reproduce the issue. However, there's a known issue with the tasks unicity.

So if you don't burn ur database and keep the test database as is ( containing multiple CTF with multiple tasks ), there is a chance the tasks could not be added because they already exist in another CTF.

Can you retry please ? but after removing the database volume ( if you did not do it already ^^ ).

[2021-03-31 11:41] ZetaTwo commented on #24
Yes, this seems to indeed be the cause. I retried the original payload from above and no challenges were added. Then I prefixed all the names with "test-" and tried again and all of them were added. So yeah as you say it seems that challenge names are unique instead of the (challenge name, event) pair being unique.

[2021-03-31 13:08] SakiiR commented on #24
Hey @ZetaTwo

The bug should now be fixed on the `dev` branch !

We are planning to do an update of the `main` branch soon, and i'll close this issue when it's done :)

[2021-03-31 13:13] ZetaTwo commented on #24
Awesome! Thanks!

[2021-03-31 18:33] SakiiR commented on #28
Did you try the side panel ? to obtain a vertical list of all the task by category ?

![Capture](https://user-images.githubusercontent.com/9950578/113193509-52e22480-9260-11eb-9781-e9eec41f721d.PNG)

[2021-04-05 09:49] ZetaTwo commented on #28
Ah, that's very nice. Let's close this as soon as the filter hits release then. :)

[2021-04-18 06:43] presianbg opened #33 "Session cookie is not being deleted on logout"
Hi,

Thanks for the awesome project!
I have tried both the `main` and the `dev` branch and looks like the session cookie is not cleared after pressing the `Logout` button.
Maybe its something specific to my env.
Can you confirm that it works for you ?

Cheers,
PY

[2021-04-18 12:01] B-i-t-K commented on #33
Thanks for the report, we are currently working (and almost finished) on a big update.
This bug (and many other) will be fixed in the next release.

[2021-04-18 17:00] presianbg commented on #33
Sounds awesome! Thank you!

[2021-04-18 17:00] #33 closed

[2021-04-20 10:09] XeR opened #36 "Cannot create CTF from scratch"
Creating a new CTF from scratch does not work on the graphql branch.
CTFNote complains about `CtfInput.secretsId` not being provided.
Commit: a6420a3c95b2347b06f59166b6ed1fb2e66e0f00

Request:
[code]

Reponse:
[code]

[2021-04-20 10:40] XeR opened #37 "Make CTF easier to access"
Accessing a CTF requires clicking on its name on the graphql branch.
This is not obvious for a new user. main branch has an `OPEN CTF` button.
commit: a6420a3c95b2347b06f59166b6ed1fb2e66e0f00

It would feel more natural to be able to click on the whole card.
A button like the current version (or any other indicator) is fine too

[2021-04-21 20:19] SakiiR commented on #37
Does that look good to you @XeR ?

![Screenshot_1](https://user-images.githubusercontent.com/9950578/115615686-907e1e80-a2ef-11eb-81ad-73459dd5dd5c.png)

[2021-04-22 07:54] XeR commented on #37
LGTM

[2021-04-22 07:54] #37 closed

[2021-05-07 20:33] JJ-8 commented on #36
I tried the new `graphql` branch using the new dev documentation (great btw!) and I did not encounter this issue.
However, I have the issue that if I add a new CTF (creating, not importing), it is not immediately shown. I have to reload the page in order to see it.

[2021-05-21 20:26] JJ-8 commented on #36
I want to withdraw my remark: it is also doesn't work for me. Now I encounter exactly the same issue.

[2021-05-21 20:53] JJ-8 commented on #36
I have zero experience with this so maybe this is all wrong, but looking at the source I think I have found the possible mistake/solution:

Creating a task has an explicit function for this: https://github.com/TFNS/CTFNote/blob/graphql/api/migrations/sqls/20210405191743-task-table-up.sql#L24
However, creating a ctf does not have this explicit function. Maybe if that is added, it does not complain

[2021-05-22 12:00] JJ-8 commented on #36
I have fixed this issue in my fork.
[Commit](https://github.com/JJ-8/CTFNote/pull/1/commits/dfda0c23b410a4566e7aca7e911b33a3d58497a2)

[2021-07-17 00:41] theS1LV3R opened #51 "Continued development"
Hi! I am the owner of the [CTFNote](https://github.com/CTFNote) organisation, a project almost identical to this one.

As my project has been abandoned (loss of motivation and energy for the project), it has been archived, and I am willing to give away the org.

Since this project is pretty big, splitting the individual components (frontend, backend, docs?) into individual repos could potentially

[2021-07-19 13:52] SakiiR commented on #51
Hi @theS1LV3R ,

Thanks a lot for your offer! We discussed it a bit, and we do not see the need to make an org specifically for CTFNote at this point.

Feel free to delete the org if you want to get rid of it; if you end up keeping it and we change our mind on this topic at some point, we will definitely get in touch!

Although the project has not been updated for a while, we are still working on

[2021-07-19 13:56] theS1LV3R commented on #51
Sounds good!

I'll keep the org in case you decide to transfer it over and to prevent anyone else (who might not have the same good intentions) from taking the name.

I'll also have a look at the codebase for this repo, and see what issues can be worked on. I'd love to help out!

[2021-07-19 13:56] #51 closed

[2021-07-19 13:58] SakiiR commented on #51
Check out the `graphql` branch in order to look at the codebase because pretty much everything has changed since then.

Happy hacking

[2021-07-19 19:26] theS1LV3R opened #52 "Using typescript for frontend"
The frontend is currently using normal JS, which makes development much harder (compared to when using TS).

I could add TS support to the frontend and submit a PR if that is wanted

[2021-07-20 19:06] JJ-8 commented on #52
@theS1LV3R Please note that if you want to add TS support, you have to work in the `graphql` branch since this branch will be the future for CTFNote. However, as soon as development will be active again here (and my PRs will be merged), I have also a lot of bug fixes and features to merge back into CTFNote from my fork. This could cause a lot of conflicts if you convert it to TS...

[2021-07-20 19:07] theS1LV3R commented on #52
Alright, I'll hold back on it. I was working on the `graphql` branch anyways, since it was the most up-to-date.

[2021-07-21 23:00] theS1LV3R opened #53 "[Feature] Discord bot integration"
My team and many other teams i know of are using discord servers to communicate. If this tool could automatically:

- Assign roles
- Create channels
- Archive messages

i think that'd be really useful.

I'm not quite sure how it'd be implemented, but it'd be a cool feature nonetheless

[2021-09-30 09:58] XeR opened #56 "Fix Hedgedoc's CSP"
Hedgedoc's 1.9.0 CSP is broken because the pad is, by default, located at `/pad/`.
Commit 11f280b8c886cc94d3688087cb983b5b64b8d8b8 disables CSP.

CSP should not be disabled, we should find something to fix it.

[2021-10-01 21:27] XeR opened #60 "Replace markdown-it-katex with something else"
CTFNote contains a vulnerable dependency (`markdown-it-katex`)

[code]

Despite what was originally thought, we are vulnerable to it.
We parse markdown in CTF descriptions and credentials.

Credentials is not a real problem (only admins/captains can edit it)

CTF description means somebody could drop the payload in the description of a CTF on CTFTime.
Thanks to @tastelessctf I could test that this

[2021-10-02 11:39] XeR commented on #60
Branch `graphql` is not affected (it does not use Vue)
It uses a different database schema. Switching from `main` to `graphql` will result in data loss

[2021-10-09 00:55] KristinnVikarJ opened #61 "pad setup documentation"
I've been trying to setup CTFNote on my server, but everytime I try to open a pad for any task it simply opens an iframe of the index page.
Only change I've done was change the port from 80 to 8080

[2021-10-15 20:27] XeR commented on #52
Fixed by 9399a64f0e780a65adef8ea446353b6a4a411ae5

[2021-10-15 20:27] #52 closed

[2021-10-18 23:00] #24 closed

[2021-10-18 23:12] B-i-t-K commented on #6
mobile support should be way better on v2

[2021-10-18 23:12] #6 closed

[2021-10-19 00:03] XeR opened #65 "Cannot upload logo"
Uploading logo when creating (not importing) a CTF converts it to `data://`.
The resulting URL is too big for the database.

We either need to write an upload script or upload the logos to the Internet.

[2021-10-19 00:07] XeR opened #66 "Migration guide is not good"
When upgrading the TFNS production database, I had to do a few additional tasks :
- Delete the db volume (that's a trust exercise...)
- Create a new Postgres 14 db
- Import the backup
- Change the ctfnote password `ALTER USER ctfnote WITH PASSWORD 'ctfnote';`

This needs to be documented before public announcement

[2021-10-19 06:37] JJ-8 opened #68 "[Question] Will my changes be merged?"
Hello!

Amazing work with the new main branch! Really cool to see the Vue 3 / Quasar 2 / TypeScript migration and great to see that there is activity again!

While you were working on the `graphql` branch, I continued development on my own fork to get new features merged faster without disturbing your work on the new version. Since it is merged to master, I am willing to fork again and put my own

[2021-10-19 08:56] XeR opened #69 "New CTF are not added automatically"
From #68

@JJ-8's fix is https://github.com/JJ-8/CTFNote/commit/1505ef7bb0ebe5df03b71f2a5a8833e0b50731f4

[2021-10-19 09:09] XeR opened #70 "Share node container between API and Front"
API uses `node:15-buster`
Front uses `node:16-alpine` since 3f72460fe377e03e17b000b670bc91d202ba2d7a

Ideally, we want both containers to be the same so we save bandwidth.
I prefer `node:16-alpine` but API requires `/bin/bash` for `wait-for-it.sh` (lots of bashisms).
Using `ash` instead of `bash` does not work.

Do we move to a debian-based container ? Do we install bash on the API ?

[2021-10-19 10:23] XeR commented on #70
WTFC does not handle TCP. I guess we could hack something with WTFC + netcat ?

[Docker says](https://docs.docker.com/compose/startup-order/) :

Postgraphile has an option for that :

[code]

[code]

I cannot find anything for the migrations

[2021-10-19 16:34] B-i-t-K opened #72 "CTFNote don't work on https"
https://github.com/TFNS/CTFNote/blob/01376949a4950c670224506b0b22b44224a24938/front/src/apollo/index.ts#L11

[2021-10-19 17:21] #66 closed

[2021-10-19 17:25] #72 closed, assigned to B-i-t-K

[2021-10-19 18:43] XeR opened #76 "Pad: cannot display pad for new tasks"
When CTFNote is configured with a domain (for Hedgedoc's CSP), new tasks store the wrong URL.
This happens if `padUrl` starts with something else than `/`. CTFNote strips the first char and replace it with the `PAD_SHOW_URL` (e.g. `/ttp://127.0.0.1/pad/foobar`)

[2021-10-19 19:06] #76 closed, assigned to B-i-t-K

[2021-10-19 21:28] XeR commented on #68
It was removed before we added the "dense" and "ultradense" themes.
If you can add it only on the "classic" theme, we see no reasons not to merge it.

The "cleanest" way seems to be [implementing an OAuth2 provider](https://docs.hedgedoc.org/configuration/#oauth2-login).
This looks like a complex task, but it would have the advantage of being able to work on a different domain.
Nothing set in ston

[2021-10-19 21:30] XeR opened #78 "Empty notification on account creation"
Sometimes (always?), creating an account shows an empty notification.
There are no error message in the console.

![Screenshot of an empty notification](https://user-images.githubusercontent.com/1497203/137993511-738fb890-67b1-45ab-97f3-c13d82c98fe9.png)

[2021-10-19 23:05] KristinnVikarJ commented on #61
git diff is
[code]

But changing this in the newest commit causes the grahpql websocket to freak out
I have cloudflare set up to handle the ssl stuff for me, the request seems to go through but the websocket instantly closes with an error saying "Unexpected server response: 405"

[2021-10-20 17:01] B-i-t-K opened #80 "Add a way to search CTF or Tasks"
It could be nice to have a way to search CTF and Tasks by title or description

[2021-10-20 19:08] XeR commented on #69
Closed by a58ea3b1381fd8d2103bb0025876e44de1f6d17c

[2021-10-20 19:08] #69 closed

[2021-10-20 19:11] XeR opened #82 "Drop privleges in containers"
API container runs as root.
This does not follow the best practices

[2021-10-20 19:56] #70 closed

[2021-10-20 20:14] #82 closed, assigned to nobody

[2021-10-21 21:17] KristinnVikarJ commented on #61
After switching from cloudflare and using certbot it works completely fine
It's weird because a project I'm working on that uses wss (where cloudflare handles the cert) has no issues with it

The websocket used to (on chrome) spam empty errors, but on microsoft edge it gave an actual error saying "Unexpected server response: 405"

But after completely restarting the installation after the recent u

[2021-10-21 22:10] XeR opened #87 "Export calendar as ICS (webcal)"
It would be nice to have an endpoint that exports the CTF list as ICS
Ideally, we would like to have a link with a unique token (`/ctf.ics?key=4314c35c-9d38-40ef-aa18-8e1093fabbfc`) otherwise it'll leak the CTF list to outsiders

[2021-10-22 17:24] XeR opened #88 "Import does not prevent task collisions"
Commit: 22bd652a11ef5fd3b22081113f29b888af3f1bb0

It is possible to import a task that was already imported before.
CTFNote used to filter tasks that were already imported, so importing a whole CTFd output would *not* duplicate the tasks.

![2021-10-22-192245_1627x604_scrot](https://user-images.githubusercontent.com/1497203/138497407-ce62b682-4f18-4eb4-b9f3-63b0db2c6711.png)

[2021-10-22 17:25] XeR opened #89 "Wrong wording when deleting a task"
Commit: 22bd652a11ef5fd3b22081113f29b888af3f1bb0

The wording when deleting a task is wrong.
It should not say that deleting a task will delete *all* the tasks.

![2021-10-22-192132_431x163_scrot](https://user-images.githubusercontent.com/1497203/138497550-7bd0e972-d752-47cd-bbf1-ad3ab79254e7.png)

[2021-10-22 19:07] XeR opened #90 "Multiple categories"
It is not uncommon to have challenges in multiple categories.
For example: reverse + crypto, web + pwn, etc.

The current system allows for a single category.
Filtering by category is awkward

[2021-10-22 20:45] #88 closed, assigned to B-i-t-K

[2021-10-25 16:32] #89 closed, assigned to VasekS

[2021-10-25 16:37] XeR opened #95 "TLS instructions are broken"
The instructions to setup TLS are incomplete and broken
If you turn CSP on, pad does not work anymore

We need to:
- add `CMD_PROTOCOL_USESSL` to `.env` and `docker-compose.yml`
- remove `X-Forwarded-Proto` from the front

[2021-10-27 19:11] #95 closed, assigned to XeR

[2021-11-21 13:56] Hellsender01 opened #106 ""Open Task" is rendering only HTML"
I am getting only HTML while opening `Open Task` Page
![image](https://user-images.githubusercontent.com/57838029/142764390-278d364a-affc-4593-ae62-7d643c2bdf6a.png)

Also, I am getting these warnings while doing `docker-compose up -d`, i guess these warnings are somewhat related to the problem mentioned above.

![image](https://user-images.githubusercontent.com/57838029/142764312-779e6cc6-0b08-48

[2021-11-22 08:12] JJ-8 commented on #106
I think the CSS and JS for Hedgedoc is hosted with a different path than the default path `your.domain.com/pad`.

Do you use a dedicated (sub)domain for hosting CTFNote? And if you navigate to `/pad`, do you see the Hedgedoc front page? If so, can you check your console and see if the CSS and JS is correctly fetched?

[2021-11-22 08:54] Hellsender01 commented on #106
No, I have not used any subdomain for [CTFNote](http://redknights.tech), I am getting Hedgedoc front page on /pad but CSS and JS files are not getting fetched.

![image](https://user-images.githubusercontent.com/57838029/142830870-a8291009-d85d-40f4-bc19-5878269c0ff3.png)

[2021-11-22 09:09] JJ-8 commented on #106
Thank you for sharing your domain and the screenshot.

I think I have found the problem:
![image](https://user-images.githubusercontent.com/34778827/142833158-7f1605a8-b250-4a12-adc7-1f9e5aefd768.png)

This is of course not a valid URL. Have you specified the `CMD_DOMAIN` in the `.env` with `http` in it? If so, can you change it to `CMD_DOMAIN=redknights.tech`?
Also, I would highly suggest to use

[2021-11-22 09:18] XeR commented on #106
These errors are "expected".
IIRC we could not make them disappear without introducing vulnerabilities by downgrading the dependencies.

[2021-11-22 09:36] Hellsender01 commented on #106
Thanks, Issue resolved, http:// was the issue in CMD_DOMAIN

[2021-11-22 09:36] #106 closed

[2021-11-28 16:11] Hellsender01 opened #108 "Getting Blank page on HedgeDoc"
Some players of my team(Not All) including me are facing this problem, We are getting a blank page on HedgeDoc.

![image](https://user-images.githubusercontent.com/57838029/143776205-5d968dc7-f074-4cd7-8008-202e38074342.png)

I guess this may help -

![image](https://user-images.githubusercontent.com/57838029/143776322-ea4be9f7-2060-4abf-a214-4ee2381b0bf4.png)

[2021-11-29 11:27] JJ-8 commented on #108
Since some people at your team are experiencing this issue, what browsers are they using?

This issue seems to be in HedgeDoc itself since it doesn't load. Can you check where the `vendors~cover~cover-....js` is located? So is it the JS source of CTFNote or HedgeDoc? If you don't know the answer to this, then sending the full URL to the `.js` file would be helpful.

[2021-11-29 12:27] Hellsender01 commented on #108
We tried on both Firefox and Chrome, But it doesn't change anything.
Full path for `vendors~cover~cover-....js` -
https://redknights.tech/pad/build/vendors~index~index-pack~pretty~pretty-pack~slide~slide-pack.8092a5d86578aedd8625.js

[2021-11-29 12:30] XeR commented on #108
Your domain uses Cloudflare.
Maybe your teammates are blocked on this specific file and get the "Please stand by, while we are checking your browser..." error message.

[2021-11-29 14:07] Hellsender01 commented on #108
Yes, it was a cloudflare issue.Disabling cloudflare resolved the issue.

Thanks for your fast responses.

[2021-11-29 14:07] #108 closed

[2021-11-29 22:49] XeR opened #111 "Display table breaks when description is too big"
![very long description](https://user-images.githubusercontent.com/34778827/143858556-eeb22f81-3c33-49db-b204-6946ec49d3f6.png)
If the description contains very long lines, then the table will become scrollable. All the important buttons are now out of the view...

We can solve this by wrapping the text, but I don't know if this is preferred since it may result in very high rows. Another way of so

[2021-11-29 22:52] XeR opened #113 "Inconsistent use of monospace in displays"
Table display uses `<pre>` which displays line breaks faithfully.
Every other display do not.

We should be consistent : either drop `<pre>` from table display, or use `<pre>` everywhere.
Using `<pre>` looks better, but we might encounter issues when tasks have multiple lines (see comments in #93)

[2021-11-29 23:25] B-i-t-K opened #114 "Create a alternative docker-compose.yml with reverse proxy"
I could be nice to have a docker-compose.with-ssl.yml that provide ctfnote + a reverse proxy with SSL (let's encrypt)

It's easy to do with traefik or caddy.
We just need to find an easy way for users to provide the domain name and registration email without messing with the default config

[2021-11-29 23:26] XeR opened #115 "Add links to community posts"
We came across @isnackable's [blog post](https://isnackable.me/ctfnote/) that describes how to run CTFNote in a Heroku instance.
We should consider adding a section in the README to add these kinds of tutorials.
Are there more resources like these ?

[2021-11-30 01:48] ISnackable commented on #115
Hi there, I'm the author of the blog post that you've linked. I think it's a great idea to add deployment guides in the README, or perhaps in the GitHub wiki page. It seems that the CTFNote app have went through some rework. This means that the blog post might be slightly outdated, but not to worry I will update it soon 🙂. Unfortunately, I did not manage to find similar resources, thus I decided t

[2021-11-30 01:57] B-i-t-K commented on #115
I think a wiki page with a link in the readme is the best option.

The migration.md file should also move to a wiki page imho.

[2021-11-30 01:58] #68 closed

[2021-11-30 01:59] B-i-t-K commented on #87
Feature added with #116

[2021-11-30 20:14] anthares101 opened #117 "Sugestion to fix custom port Hedgedoc problems"
## The problem

In my use case Im not able to use the port 443 for https so I force to have a url like: `<domain>:<port>`. In theory this shouldn't be a problem but looks like Hedgedoc doesn't manage well a port in the `CMD_DOMAIN` variable and ends up generating wrong URLs for some features (In my case the URLs were like: `<domain>:<port>:<port>`).

This problem could be solved by doing this:
- C

[2021-12-02 15:55] presianbg opened #119 "Calendar and PAST not working with reverse proxy (nginx)"
Hi,

Thanks for the awesome project!
The `Calnendar` section is not showing the CTFs I've imported:

![image](https://user-images.githubusercontent.com/2163486/144456183-fa32160d-4f30-40a4-9440-bfc62c40ce51.png)
![image](https://user-images.githubusercontent.com/2163486/144456207-04d7a2f7-f912-4c90-88e6-5d53dd591086.png)

There is no errors on in the web browser console and can't find anything wro

[2021-12-02 16:31] presianbg commented on #119
For some reason when deploying with those settings:
![image](https://user-images.githubusercontent.com/2163486/144462587-14fb7cb4-ce68-4d04-af5b-fb3269827966.png)
`Calendar` and `PAST` are not working.

Do I need to define port `1337`  or just the domain is OK in:
`+CMD_DOMAIN=example.org:1337`
?

[2021-12-02 18:59] presianbg commented on #119
I think I have found the issue - there was 3 CTFs with `start` and `end` date at the same time and with same names, those were my tests when I was figuring the apps logic.
I was not able to delete those entries from the graphql / database , so I started again and now everything works fine.

Sadly, I was not able to reproduce the issue on my local setup :(

[2021-12-02 19:03] presianbg commented on #119
So the only question left is - what is the right way (without loosing data) to refresh the docker containers, once you publish an update ?

[2021-12-03 19:01] XeR commented on #5
After getting my hands on hardware, I managed to pinpoint the root cause.
I could not run any Docker container because there isn't enough RAM.
If you *absolutely* need to run this on a raspi zero... you can download the ARMv6 stand-alone binaries from node, but you're on your own. Good luck !

[2021-12-03 19:01] #5 closed

[2021-12-03 20:14] JJ-8 commented on #119
This question is unrelated to the issue, right? If so, the answer:

The data is stored persistent in a docker volume. So if you shutdown the docker containers, the data is not lost. So for updating, just shutdown the container, update the repository and force rebuild the docker container. If you start the containers, CTFNote will automatically update the database if required and everything is upda

[2021-12-03 20:26] #119 closed

[2021-12-04 11:49] JJ-8 commented on #111
I did some testing to see if I could find a decent solution and I have now the following:

![image](https://user-images.githubusercontent.com/34778827/144708143-02c00b95-a514-4416-850d-3a8462255ef0.png)

The buttons will wrap to always 2x2. This will prevent an ugly 1x3 layout and an unpractical 1x4 layout. Since this result in the row being a bit higher by default, you don't have the problem ofte

[2021-12-04 11:52] JJ-8 commented on #113
As already said in #111, dropping `<pre>` solves the issue of newlines and word wrapping. Therefore I think it is better to drop `<pre>` instead of adding `<pre>` everywhere. It is also not worth the trouble in my opinion.

[2021-12-05 16:47] XeR commented on #119
For the record, here is how I usually upgrade :

[code]

[2021-12-09 11:06] TheRealDarkCoder opened #126 "[ RpcIpcMessagePortClosedError: Process 38 exited [SIGKILL]."
I cant `docker-compose` CTFNote on my VPS, here are the logs and files:

[code]

.env:
[code]

*note, i got a few of these messages when building:
[code]

[2021-12-09 15:09] XeR commented on #126
Hello, what commit hash are you using ?
Did you change any files besides `.env` ? (i.e. what is the output of `git status` ?)

You can safely ignore these warnings.
We had to upgrade some packages partially to avoid vulnerabilities

[2021-12-09 16:58] TheRealDarkCoder commented on #126
[code]

Im on the latest main branch. Pretty sure this is a system specific problem (Cause I can set it up on my home PC same branch easily). Just trying to figure out what might cause it like firewalls or anything (Since all I can infer from the error message is that some port is closed?)

[2021-12-09 17:33] JJ-8 commented on #126
@TheRealDarkCoder This issue seems to be very similar: https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues/674. Maybe it is useful to look into the solution that is provided there?

[2021-12-09 19:15] TheRealDarkCoder commented on #126
I have just spun up a completely fresh VPS and the issue persists, so maybe it's not just system specific.

@JJ-8 I don't know how to patch a node module from inside a docker during build.

[2021-12-09 19:20] XeR commented on #126
Is there any log message explaining why a process got SIGKILL'd ?
Try `journalctl --boot` if your distribution uses systemd and look for anything suspicious

[2021-12-09 19:33] TheRealDarkCoder commented on #126
It was indeed a Memory issue, builds just fine with a higher RAM on the VPS *shrugs*, who would have expected

[2021-12-09 19:33] #126 closed

[2021-12-14 16:36] SakiiR commented on #80
Maybe we can have some kind of search bar like discord (**CTRL+K**) or visual studio code (**CTRL+P**) to quickly move to a task/ctf.

[2021-12-16 09:53] SakiiR opened #127 "CSP Errors on the pad with the default dev configuration"
When deploying the dev version of the third party containers (hedgedoc and database), The following CSP errors are encountered:

![Screenshot 2021-12-16 at 10 49 07](https://user-images.githubusercontent.com/9950578/146348577-aa5137ce-9891-4f4e-8a03-f69aa23da92b.png)

The issue can be quickly fixed by adding the following env var to the `docker-compose.dev.yml` configuration file
`CMD_CSP_ENABLE=f

[2021-12-22 14:19] #87 closed

[2021-12-22 14:51] XeR commented on #127
Fixed by #128 ?

[2021-12-22 17:05] SakiiR commented on #127
Yeap, but on the dev branch =)

[2022-01-29 15:28] KristinnVikarJ opened #139 "unable to start ctfnote_api"
Whenever I start ctfnote_api I get this error
[code]

This also happens on a clean build of CTFNote, I've tried version 2.0.0, 2.0.1 and up to date on master

[2022-01-30 23:24] itasahobby opened #140 "Add tags to tasks and filter or search by tag"
Would be nice to be able to add one or more tags to a task. Let's say you have a task inside Web category but you would want to tag it as "XSS" so when you are on a CTF you can search for past tasks you've done with that particular tag.

[2022-01-30 23:37] XeR commented on #140
Hello !

We've been thinking about adding tags to tasks for a while now.

cf. BitK's answer to #27:

Additionally, there is #129 that seems related to your request (being able to search for all the XSS tasks you did before)

[2022-01-30 23:58] XeR commented on #139
Does this happen at build time ? Can you reproduce the error with `docker-compose build --no-cache api` ?

[2022-01-31 00:09] KristinnVikarJ commented on #139
Ah sorry, I was in the middle of complete reinstall of docker, completely reinstalling it with no volumes, images, cache etc made it finally work
But this started happening out of the blue after the machine itself rebooted

[2022-01-31 11:29] XeR opened #144 "Replace eslint-plugin-graphql with graphql-eslint"
Front uses a dependency that pulls outdated and vulnerable packages (#143)

[2022-02-01 12:47] XeR commented on #139
I'm a bit confused.
Are you saying that it used to work and it suddenly stopped working after a reboot ? Or do you say it happened after a reboot and that you fixed it by wiping Docker's state ?
If 2, can we close this issue ?

[2022-02-01 13:36] KristinnVikarJ commented on #139
The second one, a reboot caused this issue to happen but after wiping docker completely and rebuilding it works now

[2022-02-05 15:54] #139 closed

[2022-02-09 21:08] frereit opened #147 "iCal Password Setting is misleading"
Edit: sorry, I opened this issue in the wrong repo :^)

[2022-02-09 21:08] #147 closed

[2022-03-28 09:11] deltaclock opened #152 "Cannot create new task"
Hello,

Im trying to run this project by cloning the latest version and starting the containers with docker-compose.

While I can create a new ctf, I cant create any manual new tasks under it using the create button.

Am I doing something wrong or this a bug?

Thanks

[2022-03-28 09:32] SakiiR commented on #152
Hi !

I faced the same issue recently with the `main` branch, I think it's due to the actual hedgedoc configuration.

As a quick fix, you can use the `dev` branch which works fine.

[2022-04-22 13:47] JJ-8 commented on #152
Closing this issue since the dev branch is merged into main. If this issue still persist, feel free to reopen this issue.

[2022-04-22 13:47] #152 closed

[2022-04-22 13:48] JJ-8 commented on #111
Closing since #148 is merged

[2022-04-22 13:48] #111 closed

[2022-04-22 13:48] JJ-8 commented on #113
Closing since of #148

[2022-04-22 13:48] #113 closed

[2022-04-22 13:48] JJ-8 commented on #127
Closing since dev is merged into main (version 2.1.0)

[2022-04-22 13:51] JJ-8 commented on #80
Description is not implemented (yet), but with version 2.1.0 it is possible to search by title for a CTF or task! Thank you @SakiiR!

If you feel like you really need description search too, feel free to open a new issue or reopen this one.

[2022-04-22 13:51] #80 closed

[2022-04-25 14:24] frereit opened #163 "Broken links in add-ical-url"
When I am visiting a URL like `http://localhost:8088/#/ctf/1/info` and then click on the tasks tab, then I get an empty screen and the following warning in the console:
![screenshot of error](https://user-images.githubusercontent.com/34778827/162575340-7abbe34b-3a36-4f21-83ca-c3dd73a10a14.png)
The URL that has the empty page is `http://localhost:8088/#/ctf/1-Midnight-Sun-CTF-2022-Quals/tasks` in m

[2022-04-25 14:24] frereit commented on #163
(wrong org, my bad ^^)

[2022-04-25 14:24] #163 closed

[2022-04-29 17:28] anthares101 commented on #152
Hello, Im having this same problem problem. For me the solution is to change the PAD_CREATE_URL variable in the api service to:
https://<my_domain>/pad/new. In previous versions everything was working fine, I don't know if maybe I'm missing something.

[2022-05-31 10:37] cocoonkid opened #168 "Difficulties building the image. quasar fails."
1. Cloned the repo.
2. edits in .env
3. ```docker-compose up -d && docker-compose logs -f```

[code]

My .env:
[code]

[2022-05-31 11:30] cocoonkid commented on #168
Sorry. It was an error in my docker-compose.yml.

[2022-05-31 11:30] #168 closed

[2022-06-02 19:38] cocoonkid commented on #114
It works perfectly fine with https://github.com/bunkerity/bunkerized-nginx or https://github.com/nginx-proxy/nginx-proxy.

[2022-06-08 14:42] h4ckd0tm3 opened #169 "[Feature] Task File Share"
Hi!

As mentioned in #65 and a small per Task file share would be very nice to have.
#105 also mentions that some prerequisites for this are already met.

Unfortunately I have no experience in typescript and usually I am more of a backend kind of person ^^'.
So I am opening this feature request for someone to maybe implement any time in the future.

Greetings
h4

[2022-07-15 17:13] craftbyte opened #171 "[Feature] Add support for OIDC/SAML/LDAP"
It would be nice to see support for an identity federation protocol, as a lot of bigger CTF teams have Keycloak/Authentik instances for their members. Another nice integration is GitHub OAuth with org membership checking.

[2022-07-21 23:44] XeR commented on #171
Hey, thanks for the suggestion.

This is somewhat related to #32. All the protocols you mentioned are also [supported by Hedgedoc](https://docs.hedgedoc.org/configuration/#login-methods).
I'm not familiar with federation protocols. How does this usually work in practice ? Applications create local user accounts on-the-fly ?
@B-i-t-K maybe you've already implemented something similar before ?

I'm

[2022-08-20 22:14] MrPerux opened #176 "Large text's ::before elements overlapping horizontal scrollbars"
When large text like `## *text*` follows a code segment with horizontal scrolling, the `::before` pseudo-element has can have a large enough padding to overlap the scrollbar. This overlap is invisible, but makes the user unable to interact with the scrollbar via the mouse.

Example:
![image](https://user-images.githubusercontent.com/31393019/185767773-48a5648a-2fb0-4f46-b220-27e3977dc44d.png)

Pro

[2022-08-23 09:35] JJ-8 commented on #176
Thank you for your bug report @MrPerux!

Is this an issue within the preview (or split screen) mode of writing a note for a task? If so, this is an issue in Hedgedoc itself and we can not fix this in CTFNote. Also, this won't be fixed by the Hedgedoc team since they are working on Hedgedoc v2 and won't fix small issues like this in Hedgedoc v1.
Moreover, I can not reproduce this issue on Linux in

[2022-09-03 01:57] vishiswoz opened #186 "Database cannot be reached"
Keep getting this error when attempting to build the CTFNote image with docker-compose

[code]

[2022-09-03 17:07] vishiswoz commented on #186
Fixed had to delete the volumes and then recreate the containers

[2022-09-03 17:07] #186 closed

[2022-10-13 14:19] lkempf commented on #171
My team uses a custom gitlab-like oauth server and we have decided that we should probably port #20 (and our custom patch on top of that) to the current version of CTFNote and try to get this merged.

The provider specific implementation in our case is needed to fetch profile information so that a proper username is assigned when registering via oauth. As far as I know using plain oauth only retur

[2022-10-14 06:17] JJ-8 commented on #171
@lkempf, I think it is better to start with the latest version of CTFNote and try to put the changes of #20 on top of that (so the other way around).

Moreover, you are probably talking about OAuth in CTFNote itself. XeR is talking about OAuth in Hedgedoc itself (since Hedgedoc has a separate account system, but CTFNote uses it as anonymous users). This is something completely different, but it wo

[2022-11-23 07:29] SciaticNerd opened #192 "Tasks don't display correctly when attempting to 'work' them."
Hi there! Thanks for making such a cool tool! Hitting a snag when attempting to view or work a task that I've created, it displays wrong.  See attached. installed on Ubuntu 22.04 if it helps.

![image](https://user-images.githubusercontent.com/8472179/203492038-373cebbc-9813-4caa-bec3-443fef1c1abc.png)

Thanks so much for any insight or suggestions.

Sciaticnerd

[2022-11-27 19:44] XeR commented on #192
Hi ! This is strange.
What commit did you deploy ?
Are there any errors in the browser's console ?

[2022-11-28 21:17] SciaticNerd commented on #192
I believe it's the current one, which I believe to be
51f788f379487aae0bfd229f40fee05d0d5259ed.

I hadn't thought to look at / don't use it that way often enough to use the
browser console during use. Definitely open to suggestions.

On Sun, Nov 27, 2022 at 1:44 PM XeR ***@***.***> wrote: